body {
  font-family: "IBM Plex Mono", "Menlo", "Monaco", monospace;
  margin: 0;
}

canvas#gif-display {
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.interaction-tools {
  width: 800px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.settings-section-header {
  margin-bottom: 0;
}

.settings-description {
  margin: 4px 0 4px 0;
  padding: 4px;
  background-color: whitesmoke;
  border-left: lightgrey solid 5px;
}

.gif-search-wrapper {
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  min-width: 80%;
}

.search-icon {
  padding: 5px 15px 5px 5px;
}

.gif-search {
  padding: 5px;
  width: 100%;
  font-size: 2em;

  font-family: inherit;
  border-radius: 0;
}

.search-submit {
  font-family: inherit;
  font-size: 2em;

  background: inherit;
  background-color: lightgray;
}

.search-submit:hover {
  opacity: 0.7;
}

.btn {
  font-family: inherit;
  font-size: 1.5em;
  box-shadow: 10px 10px;
}

.btn:hover {
  box-shadow: 5px 5px rgb(77, 144, 254);
}

.error {
  color: red;
}

.debugging-tools {
  position: absolute;
  right: 0;
  bottom: 0;
}

#action {
  color: white;
}

.off {
  display: none;
}
